*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(88, 88, 247);
}
img {
   padding: 50px;
  border-radius: 50%; 
  animation: fananim linear infinite;
}

@keyframes fananim {
    100% {
        transform: rotate(360deg);
    }
}
button {
    height: 50px;
    width: 18%;
    color: rgb(17, 11, 4);
    background-color: rgb(236, 43, 224);
}